{% extends "main.html" %}

{% block title %}Edit profile{% endblock %}

{% block body %}
<div class="container">
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="panel panel-primary">
			<div class="panel-heading"><h1 class="panel-title">Edit Profile</h1></div>
			<div class="panel-body">
				<div class="form-group">
					<label for="name">Full Name</label>
					<input type="text" name="name" id="name" value="{% if profile['name'] %}{{profile['name']}}{% endif %}" placeholder="Name" class="form-control"> 
				</div>

				<div class="form-group">
					<label for="program">Program</label>
					<input type="text" name="program" id="program" value="{% if profile['program'] %}{{profile['program']}}{% endif %}" placeholder="Program" class="form-control"> 
				</div>

				<div class="form-group">
					<label for="suburb">Home Suburb</label>
					<input type="text" name="suburb" id="suburb" value="{% if profile['suburb'] %}{{profile['suburb']}}{% endif %}" placeholder="Suburb" class="form-control"> 
				</div>

				<div class="form-group">
					<label for="bday">Birthday</label>
					<input type="date" name="bday" id="bday" value="{% if profile['birthday'] %}{{profile['birthday']}}{% endif %}" class="form-control"> 
				</div>

				<label class="custom-file">
					Profile Picture
					<input type="file" id="file" class="custom-file-input">
					<span class="custom-file-control"></span>
				</label>

				<div class="form-group">
					<label for="pt">Profile Text</label>
					<textarea placeholder="Profile Text" name="pt" id="pt" class="form-control" rows=3>{% if profile['profile'] %}{{profile['profile']}}{% endif %}</textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}

