<!DOCTYPE html>
<html lang="en">
<head>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">

	<title>{% block title %}matelook{% endblock %}</title>

	<link href="{{level}}/static/css/bootstrap.min.css" rel="stylesheet"> <!--ABSOLUTE-->

	{% block stylesheets %}{% endblock %}
</head>

<body>
{%block navbar%}<nav class="navbar navbar-inverse navbar-static-top">{%endblock%}
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{level}}/">Matelook</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="{{level}}/search/">Search</a></li>
		</ul>

		<div class="navbar-right">
		{% if not login %}

			<a href="{{level}}/login/" class="btn btn-primary navbar-btn">Sign in</a>
			<a href="{{level}}/signup/" class="btn btn-success navbar-btn">Sign up</a>
		{% else %}

			<label class="navbar-text">Logged in as z{{login}}</label>
			<a href="{{level}}/logoff/" class="btn btn-primary navbar-btn">Log off</a>
		{% endif %}
		</div>
	</div>
</nav>

{% block body %}
{% endblock %}

<script src = "https://code.jquery.com/jquery.js"></script>

<script src = "{{level}}/static/js/bootstrap.min.js"></script> <!--ABSOLUTE-->
</body>
</html>
