{% extends "main.html" %}

{% block title %}Mate Request{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<form method="POST" action="" class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading"><h1 class="panel-title">Mate request from {% if profile['name'] %}{{profile['name']}}{% else %}z{{profile['zid']}}{% endif %}</h1></div>
				<div class="panel-body">
					<div class="form-group">
						<button type="submit" name="confirm" class="btn btn-success">Confirm</button>
						<button type="submit" class="btn btn-danger">Decline</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

