{% extends "main.html" %}

{% block title %}
{% if name %}
{{name}}
{% else %}
z{{profile['zid']}}
{% endif %}
{% endblock %}

{% block stylesheets %}
<link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{%block navbar%}<nav class="navbar navbar-inverse navbar-fixed-top">{%endblock%}

{% block body %}
<div class="row container-fluid">
	<div class="col-sm-3 col-md-2 sidebar">
		<h3>Mates</h3>
		<ul class="nav nav-sidebar">
			{% for mate in mates %}
			<li>
				<a class="row" href="z{{mate['zid']}}">
					<div class="col-md-2 col-sm-3">

						{% if mate['dp'] %}
						<img src="..{{mate['dp']}}" class="img-responsive img-circle">
						{%endif%} 

					</div>
					<div class="col-md-10 col-sm-9">

						{% if mate['name'] %}
						{{mate['name']}}
						{% else %}
						z{{mate['zid']}}
						{% endif %}

					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1>{% if profile['name'] %}{{profile['name']}} {% endif %}(z{{profile['zid']}})</h1>
		<div class="row">

			<div class="col-sm-4 col-md-4">
				{% if profile['dp'] %}<img src="..{{profile['dp']}}" class="img-responsive img-rounded">{%endif%}
			</div>

			<div class="col-sm-6 col-md-6">
				<h2>About</h2>
				<p>
				{%if profile['birthday']%}
				<b>Birthday:</b> {{profile['birthday']}}
				<br>
				{%endif%}
				{%if profile['program']%}
				<b>Program:</b> {{profile['program']}}
				<br>
				{%endif%}
				{%if profile['suburb']%}
				<b>Home Suburb:</b> {{profile['suburb']}}
				<br>
				{%endif%}
				</p>
			</div>
		</div>

		<br>

		<ul class="media-list">
			{% for post in posts %}
			<li class="media">
			<div class="media-left">
				{% if post['dp'] %}
				<a href="z{{post['zid']}}">
					<img src="..{{post['dp']}}" class="media-object img-circle" style="width: 64px; height 64px">
				</a>
				{%endif%}
			</div>
			<div class="media-body">
				<div class="media-heading clearfix">
					<a class="pull-left" href="z{{post['zid']}}">
						<h4>
							{% if post['name'] %}
							{{post['name']}}
							{% else %}
							z{{post['zid']}}
							{% endif %}
						</h4>
					</a>
					<div class="pull-right">
						{{post['date']}} {{post['time']}}
					</div>
				</div>
				<p>
				{{post['message']}}
				</p>
			</div>
			</li>
			<hr>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
