{% extends "main.html" %}

{% block title %}Signup{% endblock %}

{% block body %}
<div class="container">
	<form method="POST" action="">
		<div class="panel panel-primary">
			<div class="panel-heading"><h1 class="panel-title">Login</h1></div>
			<div class="panel-body">
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" name="email" id="email" placeholder="email" class="form-control" required> 
					{% if dupemail %}
					<small class="form-text text-danger">email already exists!</small>
					{% endif %}
				</div>

				<div class="form-group">
					<label for="zid">zID</label>
					<input type="text" name="zid" id="zid" placeholder="zID" class="form-control" required>

					{% if dupzid %}
					<small class="form-text text-danger">zID already exists!</small>
					{% endif %}
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}

