{% extends "srequest.html" %}

{% block title %}
Search Results
{% endblock %}

{% block terms %}
value="{{terms}}"
{% endblock %}

{% block results %}
<ul class="media-list">
	{% for result in users %}
	<li class="media">
	<div class="media-left">
		{% if result['dp'] %}
		<a href="z{{result['zid']}}">
			<img src="..{{result['dp']}}" class="media-object img-circle" style="width: 64px; height 64px">
		</a>
		{%endif%}
	</div>
	<div class="media-body">
		<a href="z{{result['zid']}}">
			<h2>
				{% if result['name'] %}
				{{result['name']}}
				{% else %}
				z{{result['zid']}}
				{% endif %}
			</h4>
		</a>
	</div>
	</li>
	<hr>
	{% endfor %}
</ul>
{% endblock %}
